<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="my-2">
                    <button *ngIf="role == 'admin' || role == 'staff'" pButton label="New Appointment"
                        class="p-button-outlined mb-2" icon="pi pi-plus"
                        [routerLink]="['/appointments', 'create']"></button>
                </div>
            </ng-template>

            <ng-template pTemplate="right">
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help secondary"
                    (click)="exportExcel()"></button>
            </ng-template>
        </p-toolbar>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Appointments</h5>
            <p-table #dt1 [value]="appointments" dataKey="id" [rowHover]="true" [lazy]="true" [rows]="10"
                [totalRecords]="totalRecords" styleClass="p-datatable-gridlines" [paginator]="true"
                (onLazyLoad)="loadAppointments($event)" [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="grid">
                        <div class="col-3">
                            <input pInputText type="text" [(ngModel)]="searchText"
                                (ngModelChange)="onSearchName($event)" placeholder="Search by patient name, mobile"
                                class="w-full" />
                        </div>
                        <div class="col-2">
                            <p-dropdown [options]="statusList" optionLabel="name" optionValue="code"
                                placeholder="Select Status" autoWidth="false" (ngModelChange)="onStatusChange($event)"
                                [(ngModel)]="selectedStatus" [style]="{ width: '100%' }" />
                        </div>
                        <div class="col-3">
                            <p-calendar [showIcon]="true" [hourFormat]="12" inputId="icon" [style]="{ width: '100%' }"
                                [(ngModel)]="selectedDate" (ngModelChange)="onDateChange($event)" selectionMode="range"
                                dateFormat="dd/mm/yy"></p-calendar>
                        </div>

                        <div class="col-1">
                            <button pButton type="button" class="p-button-secondary" (click)="clear(dt1)" label="Clear"
                                icon="pi pi-times"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Appointment No.
                                <!-- <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                OPD No.
                                <!-- <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Patient Name
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Mobile Number
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Created Date
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Appointment Date
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Time
                                <!-- <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Status
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Doctor
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Action
                                <!-- <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter> -->
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>
                            <a [routerLink]="[
                                    '/appointments',
                                    'edit',
                                    customer._id
                                ]" [queryParams]="queryParams">{{ customer.appointment_number }}</a>
                        </td>
                        <td>
                            <a [routerLink]="[
                                    '/appointments',
                                    'edit',
                                    customer._id
                                ]" [queryParams]="queryParams">{{ customer?.patient?.patient_number }}</a>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{ customer?.patient?.first_name }}
                                {{ customer?.patient?.last_name }}</span>
                        </td>
                        <td>
                            <!-- <img [alt]="customer.representative.name" src="assets/demo/images/avatar/{{customer.representative.image}}" width="32" style="vertical-align: middle"/> -->
                            <span class="image-text ml-2">{{
                                customer?.patient?.mobile
                                }}</span>
                        </td>
                        <td>
                            {{ customer.created_at | date : "dd/MM/yyyy" }}
                        </td>
                        <td>
                            {{
                            customer.appointment_date | date : "dd/MM/yyyy"
                            }}
                        </td>
                        <td>
                            {{ customer.appointment_time | date : "hh:mm a" }}
                        </td>
                        <td>
                            <button *ngIf="customer.status == 'Created'" pButton pRipple type="button"
                                label="{{ customer.status }}" class="p-button-secondary p-button-text"></button>
                            <button *ngIf="customer.status == 'Ongoing'" pButton pRipple type="button"
                                label="{{ customer.status }}" class="p-button-info p-button-text"></button>
                            <button *ngIf="customer.status == 'Completed'" pButton pRipple type="button"
                                label="{{ customer.status }}" class="p-button-success p-button-text"></button>
                            <button *ngIf="customer.status == 'Cancelled'" pButton pRipple type="button"
                                label="{{ customer.status }}" class="p-button-danger p-button-text"></button>
                        </td>
                        <td>
                            Dr. {{ customer?.doctor?.first_name }}
                            {{ customer?.doctor?.last_name }}
                        </td>
                        <td class="text-center">
                            <p-toast></p-toast>
                            <i (click)="openDialog(customer._id)" class="pi pi-upload text-green-500 mx-2"></i>
                            <i *ngIf="role != 'doctor'" [routerLink]="[
                                    '/appointments',
                                    'generate-invoice',
                                    customer._id
                                ]" [queryParams]="queryParams"
                                class="pi mx-2 true-icon pi-money-bill text-green-500"></i>
                            <i [routerLink]="[
                                    '/appointments',
                                    'edit',
                                    customer._id
                                ]" [queryParams]="queryParams" class="pi mx-2 true-icon pi-pencil text-green-500"></i>

                            <i [routerLink]="['/appointments','reports',customer._id]" [queryParams]="queryParams"
                                class="pi mx-2 true-icon pi-file text-green-500"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Appointments found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">
                            Loading Appointments data. Please wait.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>