<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                   
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-download" class="p-button-help secondary" (click)="exportExcel()"></button>
                </ng-template>
            </p-toolbar>
    </div>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Invoices</h5>
            <p-table
                #dt1
                [value]="invoices"
                dataKey="id"
                [lazy]="true"
                [rows]="10"
                [totalRecords]="totalRecords"
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [paginator]="true"
                (onLazyLoad)="loadPatients($event)"
                [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between flex-column sm:flex-row"
                    >
                        
                        <!-- <button pButton type="button" label="New" icon="pi pi-plus" class="mr-2"></button> -->
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                #filter
                                (input)="onGlobalFilter(dt1, $event)"
                                placeholder="Search Keyword"
                                class="w-full"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Invoice Number
                                <!-- <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Appointment
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                         <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Patient
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                         <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Total
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Paid
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Discount
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                         <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Balance
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>

                         <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Recieved By
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Date
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>

                        <!-- <th style="min-width: 8rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Action
                                <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
                            </div>
                        </th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            {{ product.invoice_number }}
                        </td>
                         <td>
                            {{ product.appointment?.appointment_number }}
                        </td>
                         <td>
                            {{ product.patient?.first_name}} {{product.patient?.last_name }}
                        </td>
                         <td>
                            {{ product.total_amount }}
                        </td>
                         <td>
                            {{ product.paid }}
                        </td>
                         <td>
                            {{ product.discount }}
                        </td>
                          <td>
                            {{ product.balance }}
                        </td>
                          <td>
                            {{ product.received_by }}
                        </td>

                        <td>
                            {{ product.created_at |date:'dd-MM-Y' }}
                        </td>
                        <!-- <td class="text-center">
                            <i
                            [routerLink]="['/patients','edit',product._id]" class="pi mx-4 true-icon pi-pencil text-green-500"
                            ></i>
                            <i (click)="confirm2($event,product)" class="pi false-icon pi-trash text-pink-500"></i>
                             <p-confirmPopup key="confirm2"></p-confirmPopup>
                        </td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No customers found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">
                            Loading customers data. Please wait.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
