<div class="grid">
    <div class="col-12">
        <div class="card" color="primary">
            <div class="grid">
                <div class="col-2">
                    <label>First Name (Wife)</label>
                    <p>{{patientData?.first_name}}</p>
                </div>
                <div class="col-2">
                    <label>First Name (Husband)</label>
                    <p>{{patientData?.husband_name}}</p>
                </div>
                <div class="col-2">
                     <label>Last Name</label>
                    <p>{{patientData?.last_name}}</p>
                </div>
                 <div class="col-2">
                     <label>Mobile (Wife)</label>
                    <p>{{patientData?.mobile}}</p>
                </div>
                <div class="col-2">
                     <label>Mobile (Husband)</label>
                    <p>{{patientData?.husband_mobile}}</p>
                </div>
                <div class="col-2">
                     <label>Email</label>
                    <p>{{patientData?.email}}</p>
                </div>
            </div>
             <div class="grid">
                 <div class="col-2">
                     <label>DOB (Wife)</label>
                    <p>{{patientData?.dob}}</p>
                </div>
                 <div class="col-2">
                     <label>DOB (Husband)</label>
                    <p>{{patientData?.husband_dob}}</p>
                </div>
                <div class="col-2">
                    <label>Blood Group</label>
                    <p>{{patientData?.blood_group}}</p>
                </div>
                <div class="col-2">
                    <label>Reference</label>
                    <p>{{patientData?.reference_by}}</p>
                </div>
            </div>
             <div class="grid">
                 <div class="col-12">
                     <label>Address</label>
                    <p>{{patientData?.address}}</p>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12" *ngFor="let item of appointments">
        <div class="card">
            <div class="grid">
                <div class="col-2">
                    <label>Appointment No.</label>
                    <p>{{item?.appointment_number}}</p>
                </div>
                <div class="col-2">
                    <label>Appointment Date</label>
                    <p>{{item?.appointment_date}}</p>
                </div>
                <div class="col-2">
                     <label>Appointment Time</label>
                    <p>{{item?.appointment_time}}</p>
                </div>
                 <div class="col-2">
                     <label>Doctor</label>
                    <p>{{item?.doctor?.first_name}} {{item?.doctor?.last_name}}</p>
                </div>
                <div class="col-2">
                     <label>Status</label>
                    <p>{{item?.status}}</p>
                </div>
                
            </div>
             <div *ngIf="item?.invoice" class="grid">
                <div class="col-2">
                    <label>Invoice No.</label>
                    <p>{{item?.invoice?.invoice_number}}</p>
                </div>
                <div class="col-2">
                    <label>Total Bill</label>
                    <p>Rs.{{item?.invoice?.total_amount}}</p>
                </div>
                <div class="col-2">
                     <label>Discount</label>
                    <p>Rs.{{item?.invoice?.dicount ?? 0}}</p>
                </div>
                 <div class="col-2">
                     <label>Paid</label>
                    <p>Rs.{{item?.invoice?.paid}}</p>
                </div>
                <div class="col-2">
                     <label>Balance</label>
                    <p>Rs.{{item?.invoice?.balance}}</p>
                </div>
                <div class="col-2">
                     <label>Received By</label>
                    <p>{{item?.invoice?.received_by}}</p>
                </div>
            </div>
             <div class="grid">
                <div class="col-6">
                    <label>Services</label>
                    <p>{{item?.services}}</p>
                </div>
            </div>
        </div>
    </div>
</div>