<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5></h5>
            <form [formGroup]="bannerForm" (ngSubmit)="submit()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="title">Banner Name</label>
                        <span class="required">*</span>
                        <input
                            pInputText
                            id="title"
                            type="text"
                            formControlName="title"
                        />
                        <small
                            class="p-error block"
                            *ngIf="
                                title.invalid && (title.dirty || title.touched)
                            "
                        >
                            Title is required</small
                        >
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="image">Banner Image</label>
                        <span class="required">*</span>
                        <input
                            pInputText
                            id="lastname2"
                            type="file"
                            formControlName="image"
                        />
                        <small
                            class="p-error block"
                            *ngIf="
                                image.invalid && (image.dirty || image.touched)
                            "
                        >
                            Image is required</small
                        >
                    </div>
                </div>


                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="title">Status</label>
                        <span class="required">*</span>
                         <p-dropdown
                                [options]="statusList"
                                optionLabel="name"
                                optionValue="code"
                                formControlName="status"
                                placeholder="Select Status"
                            />
                        <small
                            class="p-error block"
                            *ngIf="
                                status.invalid && (status.dirty || status.touched)
                            "
                        >
                            status is required</small
                        >
                    </div>
                </div>

                <div class="grid">
                    <div class="col-12">
                        <button
                            pButton
                            pRipple
                            class="primary"
                            type="submit"
                            label="Submit"
                        ></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>
