<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5></h5>
            <form [formGroup]="blogForm" (ngSubmit)="submit()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="title">Blog Title</label>
                        <span class="required">*</span>
                        <input
                            pInputText
                            id="title"
                            type="text"
                            formControlName="title"
                        />
                        <small
                            class="p-error block"
                            *ngIf="
                                title.invalid && (title.dirty || title.touched)
                            "
                        >
                            Title is required</small
                        >
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="image">Blog Image</label>
                        <span class="required">*</span>
                        <input
                            pInputText
                            id="lastname2"
                            type="file"
                            formControlName="image"
                            (change)="onFileSelected($event)"
                        />
                        <small
                            class="p-error block"
                            *ngIf="
                                image.invalid && (image.dirty || image.touched)
                            "
                        >
                            Image is required</small
                        >
                    </div>
                </div>

                <div class="col-12">
                    <div class="banner-image">
                    <img *ngIf="imagePreview" class="" [src]="imagePreview" />
                    <img *ngIf="!imagePreview" class="" [src]="imageBasePath+existingImage" />
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="description">Description</label>
                        <span class="required">*</span>
                        <p-editor
                            formControlName="description"
                            class="w-full"
                            [style]="{ height: '320px' }"
                        ></p-editor>

                        <small
                            class="p-error block"
                            *ngIf="
                                description.invalid &&
                                (description.dirty || description.touched)
                            "
                        >
                            Description is required</small
                        >
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="title">Status</label>
                        <span class="required">*</span>
                         <p-dropdown
                                [options]="statusList"
                                optionLabel="name"
                                optionValue="code"
                                formControlName="status"
                                placeholder="Select Status"
                            />
                        <small
                            class="p-error block"
                            *ngIf="
                                status.invalid && (status.dirty || status.touched)
                            "
                        >
                            status is required</small
                        >
                    </div>
                </div>

                <div class="grid">
                    <div class="col-12">
                        <button
                            pButton
                            pRipple
                            class="primary"
                            type="submit"
                            label="Submit"
                        ></button>
                        <button
                            pButton
                            pRipple
                            [routerLink]="['/blogs']"
                            class="secondary ml-3"
                            type="button"
                            label="Back"
                        ></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>
