<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="flex flex-column align-items-center justify-content-center">
        <img
            src="assets/layout/images/logo.png"
            alt="logo"
            class="mb-5 w-16rem flex-shrink-0"
        />
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div class="text-left mb-5">
                    <!-- <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3"> -->
                    <!-- <div class="text-900 text-3xl font-medium mb-3">
                        Welcome
                    </div> -->
                    <span class="text-600 font-medium"
                        >Enter your email to reset your password</span
                    >
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="checkEmail()">
                    <div>
                        <p-messages
                            [showTransitionOptions]="'200ms'"
                            [hideTransitionOptions]="'200ms'"
                        />
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12">
                                <label
                                    for="email1"
                                    class="block text-900 text-xl font-medium mb-2"
                                    >Email</label
                                >
                                <input
                                    formControlName="email"
                                    id="email1"
                                    type="email"
                                    placeholder="Email address"
                                    pInputText
                                    class="w-full md:w-30rem mb-2"
                                    style="padding: 1rem"
                                />
                                <small
                                    class="p-error block"
                                    *ngIf="
                                        email.invalid &&
                                        (email.dirty || email.touched) &&
                                        email.hasError('email')
                                    "
                                >
                                    Invalid email</small
                                >
                                <small
                                    class="p-error block"
                                    *ngIf="
                                        email.invalid &&
                                        (email.dirty || email.touched) &&
                                        email.hasError('required')
                                    "
                                >
                                    email is required</small
                                >
                            </div>
                        </div>
                        <button
                            pButton
                            pRipple
                            type="submit"
                            label="Verify Email"
                            class="w-full p-3 text-xl"
                        ></button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
