<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="my-2">
                    <button
                        *ngIf="role == 'admin' || role == 'staff'"
                        pButton
                        label="Add Images"
                        class="p-button-outlined mb-2"
                        icon="pi pi-plus"
                        (click)="openDialog(id)"
                    ></button>
                    <button
                        pButton
                        label="Back"
                        class="secondary mb-2 ml-3"
                        [routerLink]="['/gallery']"
                    ></button>
                </div>
            </ng-template>
        </p-toolbar>
    </div>
</div>

<div class="grid">
    <div *ngFor="let doc of images" class="col-3">
        <div class="card">
            <div class="card-body">
                <img
                    class="mx-auto block cursor-pointer report-icons"
                    src="{{ uploadPath + doc?.image }}"
                />
            </div>
            <div class="card-footer text-center mt-4">
               <p-button (click)="delete(doc?._id)" class="mx-auto" label="Delete" severity="danger" />
            </div>
        </div>
    </div>
</div>
<p-toast key="tst"></p-toast>