<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="p-fluid p-formgrid">
                <div class="field col-12 p-0">
                    <p-autoComplete
                        class="w-full"
                        [suggestions]="filteredItems"
                        field="fullname"
                        [minLength]="1"
                        [dropdown]="true"
                        [(ngModel)]="selectedPatient"
                        (completeMethod)="search($event)"
                        (onSelect)="onItemSelected($event)"
                        placeholder="Search patients by name or mobile number"
                    >
                    </p-autoComplete>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5></h5>
            <form
                [formGroup]="appointmentForm"
                (ngSubmit)="submitAppointment()"
            >
                <p-panel
                    header="Patient Details"
                    formGroupName="patientInfo"
                    [toggleable]="true"
                    class="line-height-3 m-0"
                >
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label htmlFor="firstname">First Name</label>
                            <span class="required">*</span>
                            <input
                                pInputText
                                id="firstname"
                                type="text"
                                formControlName="first_name"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    first_name.invalid &&
                                    (first_name.dirty || first_name.touched)
                                "
                            >
                                Firstname is required</small
                            >
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="lastname2">Last name</label>
                            <span class="required">*</span>
                            <input
                                pInputText
                                id="lastname2"
                                type="text"
                                formControlName="last_name"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    last_name.invalid &&
                                    (last_name.dirty || last_name.touched)
                                "
                            >
                                lastname is required</small
                            >
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="firstname2">Mobile Number</label>
                            <span class="required">*</span>
                            <input
                                pInputText
                                id="firstname2"
                                type="text"
                                formControlName="mobile"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    mobile.invalid &&
                                    (mobile.dirty || mobile.touched) &&
                                    mobile.hasError('required')
                                "
                            >
                                mobile is required</small
                            >
                            <small
                                class="p-error block"
                                *ngIf="
                                    mobile.invalid &&
                                    (mobile.dirty || mobile.touched) &&
                                    mobile.hasError('invalidMobile')
                                "
                            >
                                invalid mobile number</small
                            >
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="lastname2">Email</label>
                            <input
                                pInputText
                                id="lastname2"
                                type="email"
                                formControlName="email"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    email.invalid &&
                                    (email.dirty || email.touched) &&
                                    email.hasError('email')
                                "
                            >
                                invalid email</small
                            >
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="lastname2">Gender</label>
                            <span class="required">*</span>
                            <p-dropdown
                                [options]="genders"
                                optionLabel="name"
                                optionValue="code"
                                formControlName="gender"
                                placeholder="Select Gender"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    gender.invalid &&
                                    (gender.dirty || gender.touched)
                                "
                            >
                                gender is required</small
                            >
                        </div>

                        <div class="field col-12 md:col-4">
                            <label htmlFor="lastname2">DOB</label>
                            <p-calendar
                                formControlName="dob"
                                [showIcon]="true"
                                [hourFormat]="12"
                                inputId="icon"
                                dateFormat="dd/mm/yy"
                                [maxDate]="minDate"
                            ></p-calendar>
                        </div>

                        <div class="field col-12 md:col-4">
                            <label htmlFor="lastname2">Age</label>
                            <input
                                pInputText
                                id="lastname2"
                                type="text"
                                formControlName="age"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    age.invalid &&
                                    (age.dirty || age.touched) &&
                                    age.hasError('pattern')
                                "
                            >
                                invalid age</small
                            >
                        </div>

                        <div class="field col-12 md:col-4">
                            <label htmlFor="lastname2">Blood Group</label>
                            <p-dropdown
                                [options]="bloodGroups"
                                optionLabel="name"
                                optionValue="code"
                                formControlName="blood_group"
                                placeholder="Select Blood Group"
                            />
                        </div>
                    </div>
                </p-panel>

                <p-panel
                    header="Appointment Details"
                    [toggleable]="true"
                    formGroupName="appointmentInfo"
                    class="line-height-3 m-5"
                >
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="lastname2">Appointment Date</label>
                            <span class="required">*</span>
                            <p-calendar
                                formControlName="appointment_date"
                                [showIcon]="true"
                                [hourFormat]="12"
                                inputId="icon"
                                dateFormat="dd/mm/yy"
                                [minDate]="minDate"
                            ></p-calendar>
                            <small
                                class="p-error block"
                                *ngIf="
                                    appointment_date.invalid &&
                                    (appointment_date.dirty ||
                                        appointment_date.touched)
                                "
                            >
                                Appointment Date is required</small
                            >
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="lastname2">Appointment Time</label>
                            <span class="required">*</span>
                            <p-calendar
                                formControlName="appointment_time"
                                [showIcon]="true"
                                [hourFormat]="12"
                                [timeOnly]="true"
                                inputId="icon"
                            ></p-calendar>
                            <small
                                class="p-error block"
                                *ngIf="
                                    appointment_time.invalid &&
                                    (appointment_time.dirty ||
                                        appointment_time.touched)
                                "
                            >
                                Appointment Time is required</small
                            >
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="firstname2">Doctor</label>
                            <span class="required">*</span>
                            <p-dropdown
                                [options]="doctors"
                                optionLabel="name"
                                optionValue="code"
                                formControlName="doctor"
                                placeholder="Select Doctor"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    doctor.invalid &&
                                    (doctor.dirty || doctor.touched)
                                "
                            >
                                Doctor is required</small
                            >
                        </div>
                        <div class="field col-8">
                            <label htmlFor="lastname2">Service</label>
                            <span class="required">*</span>
                            <p-multiSelect
                                [options]="serviceList"
                                formControlName="services"
                                placeholder="Select Service"
                                optionLabel="name"
                                (onChange)="onChange($event)"
                                display="chip"
                                [showClear]="true"
                                [maxSelectedLabels]="undefined"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    services.invalid &&
                                    (services.dirty || services.touched)
                                "
                            >
                                services is required</small
                            >
                        </div>

                        <div class="field col-12">
                            <label htmlFor="lastname2"
                                >Reason for Visit (note)</label
                            >
                            <input
                                pInputText
                                id="lastname2"
                                type="text"
                                formControlName="reason"
                            />
                        </div>
                    </div>
                </p-panel>

                <div class="grid">
                    <div class="col-12">
                        <button
                            pButton
                            pRipple
                            type="submit"
                            label="Submit"
                        ></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>
