<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5></h5>
            <form [formGroup]="patientForm" (ngSubmit)="submit()">
                <p-panel
                    header="Patient Details"
                    formGroupName="patientInfo"
                    [toggleable]="true"
                    class="line-height-3 m-0"
                >
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="firstname">First Name</label>
                            <span class="required">*</span>
                            <input
                                pInputText
                                id="firstname"
                                type="text"
                                formControlName="first_name"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    first_name.invalid &&
                                    (first_name.dirty || first_name.touched)
                                "
                            >
                                Firstname is required</small
                            >
                        </div>

                        <div class="field col-12 md:col-4">
                            <label htmlFor="husband_name"
                                >First Name (Husband)</label
                            >
                            <span class="required">*</span>
                            <input
                                pInputText
                                id="husband_name"
                                type="text"
                                formControlName="husband_name"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    husband_name.invalid &&
                                    (husband_name.dirty || husband_name.touched)
                                "
                            >
                                husband name is required</small
                            >
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="lastname2">Last name</label>
                            <span class="required">*</span>
                            <input
                                pInputText
                                id="lastname2"
                                type="text"
                                formControlName="last_name"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    last_name.invalid &&
                                    (last_name.dirty || last_name.touched)
                                "
                            >
                                lastname is required</small
                            >
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="firstname2">Mobile Number</label>
                            <span class="required">*</span>
                            <input
                                pInputText
                                id="firstname2"
                                type="text"
                                formControlName="mobile"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    mobile.invalid &&
                                    (mobile.dirty || mobile.touched) &&
                                    mobile.hasError('required')
                                "
                            >
                                mobile is required</small
                            >
                            <small
                                class="p-error block"
                                *ngIf="
                                    mobile.invalid &&
                                    (mobile.dirty || mobile.touched) &&
                                    mobile.hasError('invalidMobile')
                                "
                            >
                                invalid mobile number</small
                            >
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="husband_mobile"
                                >Mobile Number (Husband)</label
                            >
                            <span class="required">*</span>
                            <input
                                pInputText
                                id="husband_mobile"
                                type="text"
                                formControlName="husband_mobile"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    husband_mobile.invalid &&
                                    (husband_mobile.dirty ||
                                        husband_mobile.touched) &&
                                    husband_mobile.hasError('required')
                                "
                            >
                                mobile is required</small
                            >
                            <small
                                class="p-error block"
                                *ngIf="
                                    husband_mobile.invalid &&
                                    (husband_mobile.dirty ||
                                        husband_mobile.touched) &&
                                    husband_mobile.hasError('invalidMobile')
                                "
                            >
                                invalid mobile number</small
                            >
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="lastname2">Email</label>
                            <input
                                pInputText
                                id="lastname2"
                                type="email"
                                formControlName="email"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    email.invalid &&
                                    (email.dirty || email.touched) &&
                                    email.hasError('email')
                                "
                            >
                                invalid email</small
                            >
                        </div>
                        

                        <div class="field col-12 md:col-3">
                            <label htmlFor="lastname2">DOB (Wife)</label>
                            <p-calendar
                                formControlName="dob"
                                [showIcon]="true"
                                [hourFormat]="12"
                                inputId="icon"
                                dateFormat="dd/mm/yy"
                                [maxDate]="minDate"
                            ></p-calendar>
                        </div>

                         <div class="field col-12 md:col-3">
                            <label htmlFor="lastname2">DOB (Husband)</label>
                            <p-calendar
                                formControlName="husband_dob"
                                [showIcon]="true"
                                [hourFormat]="12"
                                inputId="icon"
                                dateFormat="dd/mm/yy"
                                [maxDate]="minDate"
                            ></p-calendar>
                        </div>

                     
                        <div class="field col-12 md:col-3">
                            <label htmlFor="lastname2">Blood Group</label>
                            <p-dropdown
                                [options]="bloodGroups"
                                optionLabel="name"
                                optionValue="code"
                                formControlName="blood_group"
                                placeholder="Select Blood Group"
                            />
                        </div>
                        <div class="field col-12 md:col-3">
                            <label htmlFor="lastname2">Reference By</label>
                            <input
                                pInputText
                                id="lastname2"
                                type="text"
                                formControlName="reference_by"
                            />
                        </div>
                         <div class="field col-12">
                            <label htmlFor="address">Address</label>
                            <textarea
                                pInputText
                                id="address"
                                type="text"
                                formControlName="address"
                            ></textarea>
                        </div>
                    </div>
                </p-panel>

                <p-panel
                    header="Medical History (Optional)"
                    [toggleable]="true"
                    formGroupName="medicalHistoryInfo"
                    class="line-height-3 m-5"
                >
                    <div formArrayName="history">
                        <div
                            *ngFor="let item of history.controls; let i = index"
                            [formGroupName]="i"
                            class="formgroup-inline p-fluid p-formgrid grid"
                        >
                            <div class="field col-3">
                                <!-- <label htmlFor="lastname2">Condition</label> -->
                                <p-dropdown
                                    [options]="conditions"
                                    optionLabel="name"
                                    optionValue="code"
                                    formControlName="condition"
                                    placeholder="Select a condition"
                                />
                            </div>
                            <div class="field col-3">
                                <!-- <label htmlFor="lastname2">since</label> -->
                                <p-dropdown
                                    [options]="conditionSince"
                                    optionLabel="name"
                                    optionValue="code"
                                    formControlName="since"
                                    placeholder="Select a since"
                                />
                            </div>
                            <div class="field col-3">
                                <!-- <label htmlFor="firstname2">Tratment</label> -->
                                <p-dropdown
                                    [options]="treatment"
                                    optionLabel="name"
                                    formControlName="treatment"
                                    optionValue="code"
                                    placeholder="Select a treatment"
                                />
                            </div>
                            <div class="field col-2">
                                <button
                                    pButton
                                    *ngIf="i == 0"
                                    pRipple
                                    (click)="addItem()"
                                    type="button"
                                    icon="pi pi-plus"
                                    class="primary p-button-rounded"
                                ></button>

                                <button
                                    *ngIf="i != 0"
                                    pButton
                                    pRipple
                                    (click)="removeItem(i)"
                                    type="button"
                                    icon="pi pi-minus"
                                    class="p-button-danger p-button-rounded"
                                ></button>
                            </div>
                        </div>
                    </div>

                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12">
                            <label htmlFor="lastname2">Allergies</label>
                            <p-chips formControlName="allergies"></p-chips>
                        </div>
                    </div>
                </p-panel>

                <div class="grid">
                    <div class="col-12">
                        <button
                            pButton
                            pRipple
                            class="primary"
                            type="submit"
                            label="Submit"
                        ></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>
