<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center justify-content-between">
                <div>
                    <p class="text-xl">
                        Name - {{ appointmenData?.patient?.first_name }}
                        {{ appointmenData?.patient?.last_name }}
                    </p>
                    <p *ngIf="appointmenData?.doctor" class="text-xl">
                        Doctor - Dr. {{ appointmenData?.doctor?.first_name }}
                        {{ appointmenData?.doctor?.last_name }}
                    </p>
                    <p *ngIf="!appointmenData?.doctor" class="text-xl">
                        Doctor - N/A
                    </p>
                </div>
                <div>
                    <p class="text-xl">
                        Date -
                        {{ appointmenData?.created_at | date : "dd-MM-Y" }}
                    </p>
                    <p class="text-xl">
                        OPD - {{ appointmenData?.appointment_number }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table
                [value]="appointmenData?.services"
                styleClass="p-datatable-gridlines"
                [tableStyle]="{ 'min-width': '50rem' }"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>SR NO.</th>
                        <th>PARTICULARS</th>
                        <th>AMOUNT</th>
                        <!-- <th>Quantity</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.key }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <!-- <td>4</td> -->
                    </tr>
                </ng-template>

                <ng-template [formGroup]="invoiceForm" pTemplate="footer">
                    <tr>
                        <td colspan="2" class="text-right">Total</td>
                        <td>
                            {{ appointmenData?.total | currency : "INR" }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right">Paid</td>
                        <td>
                            <input
                                pInputText
                                id="firstname2"
                                type="text"
                                formControlName="paid"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    paid.invalid &&
                                    (paid.dirty || paid.touched) &&
                                    paid.hasError('required')
                                "
                            >
                                Paid Amount is required</small
                            >
                             <small
                                class="p-error block"
                                *ngIf="
                                    paid.invalid &&
                                    (paid.dirty || paid.touched) &&
                                    paid.hasError('pattern')
                                "
                            >
                                Paid Amount is invalid</small
                            >
                            <small
                                class="p-error block"
                                *ngIf="
                                    paid.invalid &&
                                    (paid.dirty || paid.touched) &&
                                    paid.hasError('max')
                                "
                            >
                                Paid Amount must less than or Equal to
                                Total</small
                            >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right">Balance</td>
                        <td>
                            <input
                                pInputText
                                id="firstname2"
                                type="text"
                                readonly
                                formControlName="balance"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right">Payment Mode</td>
                        <td>
                            <p-dropdown
                                [options]="paymentModes"
                                formControlName="payment_mode"
                                optionLabel="name"
                                appendTo="body"
                                optionValue="code"
                                placeholder="Payment Method"
                            />
                             <small
                                class="p-error block"
                                *ngIf="
                                    payment_mode.invalid &&
                                    (payment_mode.dirty || payment_mode.touched) &&
                                    payment_mode.hasError('required')
                                "
                            >
                                Paid Method is required</small
                            >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right">Recieved By</td>
                        <td>
                            <input
                                pInputText
                                id="firstname2"
                                type="text"
                                formControlName="received_by"
                            />
                             <small
                                class="p-error block"
                                *ngIf="
                                    received_by.invalid &&
                                    (received_by.dirty || received_by.touched) &&
                                    received_by.hasError('required')
                                "
                            >
                                received by is required</small
                            >
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <button class="primary" (click)="downloadInvoice()" pButton>
                <i class="pi pi-download"></i> &nbsp;&nbsp;Download
            </button>
        </div>
    </div>
</div>
