<div *ngIf="appointmenData?.status == 'Completed'">
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <div class="flex align-items-center justify-content-between">
                    <div>
                        <p class="text-xl">
                            Name - {{ appointmenData?.patient?.first_name }}
                            {{ appointmenData?.patient?.last_name }}
                        </p>
                        <p *ngIf="appointmenData?.doctor" class="text-xl">
                            Doctor - Dr.
                            {{ appointmenData?.doctor?.first_name }}
                            {{ appointmenData?.doctor?.last_name }}
                        </p>
                        <p *ngIf="!appointmenData?.doctor" class="text-xl">
                            Doctor - N/A
                        </p>
                    </div>
                    <div>
                        <p class="text-xl">
                            Date -
                            {{ appointmenData?.created_at | date : "dd-MM-Y" }}
                        </p>
                        <p class="text-xl">
                            OPD - {{ appointmenData?.appointment_number }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-12">
            <button
                class="secondary"
                pButton
                (click)="addService()"
                type="button"
            >
                Add Service
            </button>
            <button
                class="secondary ml-3"
                pButton
                (click)="addPrePostItem()"
                type="button"
            >
                Add Pre/Post Items
            </button>
            <button
                class="secondary ml-3"
                pButton
                (click)="addItem()"
                type="button"
            >
                Add Extra Items
            </button>
        </div>
    </div>

    <div class="grid">
        <div class="col-8">
            <div [formGroup]="extraForm" class="card">
                <div class="grid border-bottom">
                    <div class="col-2 text-l">SR NO.</div>
                    <div class="col-5 text-l">PARTICULARS</div>
                    <div class="col-3 text-l">AMOUNT</div>
                </div>
                <div
                    class="grid mt-2"
                    *ngFor="let item of appointmenData?.services; let i = index"
                >
                    <div class="col-2">
                        {{ i + 1 }}
                    </div>
                    <div class="col-5">
                        {{ item?.name }}
                    </div>
                    <div class="col-2">
                        {{ item?.price }}
                    </div>
                </div>
                <div class="" formArrayName="extraServices">
                    <div
                        class="grid mt-2"
                        *ngFor="
                            let item of extraServices.controls;
                            let i = index
                        "
                        [formGroupName]="i"
                    >
                        <div class="col-2"></div>

                        <div class="col-5">
                            <p-dropdown
                                class="w-full"
                                [options]="serviceList"
                                optionLabel="name"
                                optionValue="name"
                                formControlName="name"
                                (onChange)="onExtraServicesChange(i)"
                                placeholder="Select Service"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    item.get('name').invalid &&
                                    (item.get('name').dirty ||
                                        item.get('name').touched) &&
                                    item.get('name').hasError('required')
                                "
                            >
                                Particular is required</small
                            >
                        </div>

                        <div class="col-2">
                            <input
                                class="w-full"
                                pInputText
                                (change)="onExtraServicesValueChange(i)"
                                formControlName="price"
                                type="text"
                            />

                            <small
                                class="p-error block"
                                *ngIf="
                                    item.get('price').invalid &&
                                    (item.get('price').dirty ||
                                        item.get('price').touched) &&
                                    item.get('price').hasError('required')
                                "
                            >
                                Price is required</small
                            >
                        </div>

                        <div class="col-3">
                            <button
                                pButton
                                pRipple
                                (click)="removeExtraServiceItem(i)"
                                type="button"
                                icon="pi pi-minus"
                                class="p-button-danger p-button-rounded"
                            ></button>
                        </div>
                    </div>
                </div>
                <div class="" formArrayName="prePostExtras">
                    <div
                        class="grid mt-2"
                        *ngFor="
                            let item of prePostExtras.controls;
                            let i = index
                        "
                        [formGroupName]="i"
                    >
                        <div class="col-2"></div>

                        <div class="col-5">
                            <p-dropdown
                                class="w-full"
                                [options]="prePostCharges"
                                optionLabel="name"
                                optionValue="code"
                                formControlName="name"
                                (change)="onPrePostValueChange(i)"
                                placeholder="Select Pre Post"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    item.get('name').invalid &&
                                    (item.get('name').dirty ||
                                        item.get('name').touched) &&
                                    item.get('name').hasError('required')
                                "
                            >
                                Particular is required</small
                            >
                        </div>

                        <div class="col-2">
                            <input
                                class="w-full"
                                pInputText
                                (change)="onPrePostValueChange(i)"
                                formControlName="price"
                                type="text"
                            />

                            <small
                                class="p-error block"
                                *ngIf="
                                    item.get('price').invalid &&
                                    (item.get('price').dirty ||
                                        item.get('price').touched) &&
                                    item.get('price').hasError('required')
                                "
                            >
                                Price is required</small
                            >
                        </div>

                        <div class="col-3">
                            <button
                                pButton
                                pRipple
                                (click)="removePrePostItem(i)"
                                type="button"
                                icon="pi pi-minus"
                                class="p-button-danger p-button-rounded"
                            ></button>
                        </div>
                    </div>
                </div>
                <div class="" formArrayName="extras">
                    <div
                        class="grid mt-2"
                        *ngFor="let item of extras.controls; let i = index"
                        [formGroupName]="i"
                    >
                        <div class="col-2"></div>

                        <div class="col-5">
                            <input
                                pInputText
                                (change)="onExtraValueChange(i)"
                                formControlName="name"
                                type="text"
                            />
                            <small
                                class="p-error block"
                                *ngIf="
                                    item.get('name').invalid &&
                                    (item.get('name').dirty ||
                                        item.get('name').touched) &&
                                    item.get('name').hasError('required')
                                "
                            >
                                Particular is required</small
                            >
                        </div>

                        <div class="col-2">
                            <input
                                class="w-full"
                                pInputText
                                (change)="onExtraValueChange(i)"
                                formControlName="price"
                                type="text"
                            />

                            <small
                                class="p-error block"
                                *ngIf="
                                    item.get('price').invalid &&
                                    (item.get('price').dirty ||
                                        item.get('price').touched) &&
                                    item.get('price').hasError('required')
                                "
                            >
                                Price is required</small
                            >
                        </div>

                        <div class="col-3">
                            <button
                                pButton
                                pRipple
                                (click)="removeItem(i)"
                                type="button"
                                icon="pi pi-minus"
                                class="p-button-danger p-button-rounded"
                            ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div [formGroup]="invoiceForm" class="card">
                <div class="grid mt-2">
                    <!-- <div class="col-3"></div> -->
                    <div class="col-3">
                        <label class="text-right font-bold">Total</label>
                    </div>

                    <div class="col-3">
                        {{ invoiceData.total | currency : "INR" }}
                    </div>
                </div>

                <div class="grid mt-2">
                    <!-- <div class="col-3"></div> -->
                    <div class="col-3">
                        <label class="font-bold">Discount</label>
                    </div>
                    <div class="col-3">
                        <input
                            pInputText
                            id="firstname2"
                            type="text"
                            formControlName="discount"
                        />
                    </div>
                </div>

                <div class="grid mt-2" *ngIf="discount.value > 0">
                    <!-- <div class="col-3"></div> -->
                    <div class="col-3">
                        <label>New Total</label>
                    </div>
                    <div class="col-3">
                        {{ invoiceData.discountedTotal | currency : "INR" }}
                    </div>
                </div>

                <div class="grid mt-2">
                    <!-- <div class="col-3"></div> -->
                    <div class="col-3">
                        <label>Paid</label>
                    </div>
                    <div class="col-3">
                        <input
                            pInputText
                            id="firstname2"
                            type="text"
                            formControlName="paid"
                        />
                        <small
                            class="p-error block"
                            *ngIf="
                                paid.invalid &&
                                (paid.dirty || paid.touched) &&
                                paid.hasError('required')
                            "
                        >
                            Paid Amount is required</small
                        >
                        <small
                            class="p-error block"
                            *ngIf="
                                paid.invalid &&
                                (paid.dirty || paid.touched) &&
                                paid.hasError('pattern')
                            "
                        >
                            Paid Amount is invalid</small
                        >
                        <small
                            class="p-error block"
                            *ngIf="
                                paid.invalid &&
                                (paid.dirty || paid.touched) &&
                                paid.hasError('max')
                            "
                        >
                            Paid Amount must less than or Equal to Total</small
                        >
                    </div>
                </div>

                <div class="grid mt-2">
                    <!-- <div class="col-3"></div> -->
                    <div class="col-3">Balance</div>
                    <div class="col-3">
                        <input
                            pInputText
                            id="firstname2"
                            type="text"
                            readonly
                            formControlName="balance"
                        />
                    </div>
                </div>

                <div [formGroup]="payment_mode1" class="grid mt-2">
                    <!-- <div class="col-3"></div> -->
                    <!-- <div class="col-3">Payment Mode</div> -->
                    <div class="col-5">
                        <p-dropdown
                            [options]="paymentModes"
                            formControlName="mode"
                            optionLabel="name"
                            appendTo="body"
                            optionValue="code"
                            placeholder="Payment Method"
                        />
                        <small
                            class="p-error block"
                            *ngIf="
                                payment_mode1.get('mode').invalid &&
                                (payment_mode1.get('mode').dirty ||
                                    payment_mode1.get('mode').touched) &&
                                payment_mode1.get('mode').hasError('required')
                            "
                        >
                            Paid Method is required</small
                        >
                    </div>
                    <div class="col-3">
                        <input pInputText type="text" formControlName="price" />
                    </div>
                </div>
                <div [formGroup]="payment_mode2" class="grid mt-2">
                    <!-- <div class="col-3"></div> -->
                    <!-- <div class="col-3">Payment Mode</div> -->
                    <div class="col-5">
                        <p-dropdown
                            [options]="paymentModes"
                            formControlName="mode"
                            optionLabel="name"
                            appendTo="body"
                            optionValue="code"
                            placeholder="Payment Method"
                        />
                        <small
                            class="p-error block"
                            *ngIf="
                                payment_mode2.get('mode').invalid &&
                                (payment_mode2.get('mode').dirty ||
                                    payment_mode2.get('mode').touched) &&
                                payment_mode2.get('mode').hasError('required')
                            "
                        >
                            Paid Method is required</small
                        >
                    </div>
                    <div class="col-3">
                        <input pInputText type="text" formControlName="price" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-12">
            <div class="card">
                <button class="primary" (click)="saveAndPreview()" pButton>
                    <i class="pi pi-download"></i> &nbsp;&nbsp;Save and Preview
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="appointmenData?.status == 'Cancelled'" class="grid">
    <div class="col-12">
        <div class="card">
            <p class="text-2xl text-red-500">
                You can not create invoice for cancelled appointment
            </p>
        </div>
    </div>
</div>

<div *ngIf="appointmenData?.status == 'Created'" class="grid">
    <div class="col-12">
        <div class="card">
            <p class="text-2xl text-green-600">
                Please complete appointment to generate Invoice
            </p>
        </div>
    </div>
</div>

<div *ngIf="appointmenData?.status == 'Ongoing'" class="grid">
    <div class="col-12">
        <div class="card">
            <p class="text-2xl text-green-600">
                Please complete appointment to generate Invoice
            </p>
        </div>
    </div>
</div>
<button
    [routerLink]="'/appointments'"
    [queryParams]="queryParams"
    pButton
    pRipple
    class="secondary ml-3"
    type="button"
    label="Back"
></button>
<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="ext-red block mb-5">{{ message }}</span>

    <div class="flex justify-content-end gap-2">
        <p-button label="ok" severity="secondary" (onClick)="visible = false" />
    </div>
</p-dialog>

<p-dialog
    header="VerifY OTP"
    [modal]="true"
    [(visible)]="otpVisible"
    [style]="{ width: '25rem' }"
>
    <form [formGroup]="otpForm" (ngSubmit)="verifyOTP()">
        <div class="flex align-items-center gap-3 mb-3">
            <label for="username" class="font-semibold w-6rem">OTP</label>
            <input
                formControlName="otp"
                pInputText
                id="username"
                class="flex-auto"
                autocomplete="off"
            />
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button
                label="Cancel"
                severity="secondary"
                (onClick)="visible = false"
            />
            <p-button type="submit" label="submit" />
        </div>
    </form>
</p-dialog>
