<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5></h5>
            <form [formGroup]="galleryForm" (ngSubmit)="submit()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="title">Name</label>
                        <span class="required">*</span>
                        <input
                            pInputText
                            id="name"
                            type="text"
                            formControlName="name"
                        />
                        <small
                            class="p-error block"
                            *ngIf="name.invalid && (name.dirty || name.touched)"
                        >
                            Name is required</small
                        >
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="title">Status</label>
                        <span class="required">*</span>
                        <p-dropdown
                            [options]="statusList"
                            optionLabel="name"
                            optionValue="code"
                            formControlName="status"
                            placeholder="Select Status"
                        />
                        <small
                            class="p-error block"
                            *ngIf="
                                status.invalid &&
                                (status.dirty || status.touched)
                            "
                        >
                            status is required</small
                        >
                    </div>
                </div>

                <div class="grid">
                    <div class="col-12">
                        <button
                            pButton
                            pRipple
                            class="primary"
                            type="submit"
                            label="Submit"
                        ></button>
                        <button
                            pButton
                            label="Back"
                            class="secondary ml-3"
                            [routerLink]="['/gallery']"
                        ></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>
