<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/logo.png" alt="logo" class="mb-5 w-16rem flex-shrink-0" />
        <div style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            ">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
                <div class="text-left mb-5">
                    <!-- <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3"> -->
                    <!-- <div class="text-900 text-3xl font-medium mb-3">
                        Welcome
                    </div> -->
                    <span class="text-600 font-medium"> Reset your password</span>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="checkEmail()">
                    <div>
                        <p-messages [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'200ms'" />
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12">
                                <label for="email1" class="block text-900 text-xl font-medium mb-2">New Password</label>
                                <p-password formControlName="password" id="password1" autocomplete="new-password"
                                    placeholder="New Password" [toggleMask]="true" styleClass="mb-2"
                                    inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                                <small class="p-error block" *ngIf="
                                        password.invalid &&
                                        (password.dirty || password.touched) &&
                                        password.hasError('required')
                                    ">
                                    Password is required</small>
                            </div>
                        </div>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12">
                                <label for="email1" class="block text-900 text-xl font-medium mb-2">Confirm
                                    Password</label>
                                <p-password formControlName="conf_password" id="password1"
                                    autocomplete="new-conf_password" placeholder="Confirm Password" [toggleMask]="true"
                                    styleClass="mb-2" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                                <small class="p-error block" *ngIf="
                                        conf_password.invalid &&
                                        (conf_password.dirty || conf_password.touched) &&
                                        conf_password.hasError('required')
                                    ">
                                    Confirm Password is required</small>
                            </div>
                        </div>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12">
                                <label for="email1" class="block text-900 text-xl font-medium mb-2">Email Code</label>
                                <input type="text" pInputText formControlName="otp" autocomplete="new-otp" />

                                <small class="p-error block" *ngIf="
                                        otp.invalid &&
                                        (otp.dirty || otp.touched) &&
                                        otp.hasError('required')
                                    ">
                                    Email code is required</small>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-6">
                                <button pButton pRipple type="submit" label="Reset Password"
                                    class="w-full p-3 text-xl"></button>
                            </div>
                            <div class="col-6">
                                <button [routerLink]="'/auth/forgot-password/input-email'" pButton pRipple type="button"
                                    label="Cancel" class="w-full secondary p-3 text-xl"></button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p-dialog [modal]="true" [(visible)]="visible">
    <div class="grid">
        <div class="col-12">
            <span class="p-text-secondary block">password has been changed successfully</span>
        </div>
        <div class="col-12">
            <p-button label="Ok" class="w-full secondary" [routerLink]="'/auth/login'" />
        </div>
    </div>
</p-dialog>